body {
    text-align: center;
    font-family: verdana;
}

h1 {
    font-size: 47px;
}

#top-banner {
    background-image: url("../images/background-image.png");
    background-size: auto;
    color: white;
}

#top-banner ul {
    list-style-type: none;
}